
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white; 
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 10px; 
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid white; 
    font-size: 4em;
    cursor: pointer;
    user-select: none;
    background-color: black; 
    color: white; 
}

h1 {
    color: black;
    font-size: 5em;
    text-shadow: -5px 1px 0 #ffffff,
        1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
}


h2 {
    margin: 5px 0;
    font-size: 2.5em;
    color: white; 
}

button {
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    background-color: black; 
    color: white; 
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 1em;
}

button:hover{
    background-color: white;
    color: black
}


.cell.win {
    background-color: yellow; 
    color: rgb(117, 139, 47); 
}


/* Modal Styling */
.ruleButton {

    padding: 10px 20px;
    font-size: 1.5em;
    background-color: black;
    border-radius: 10px;; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}
.ruleButton:hover {
    background-color: white; 
    color: black
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    background-color: black;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid white;
    width: 80%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.2); 
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Falling X's and O's animation */
#fallingElementsContainer {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: -1; 
    overflow: hidden;
}

.falling-element {
    position: absolute;
    top: -30%;
    left: calc(100vw * var(--random-x)); /* Randomize X position */
    font-size: 1em;
    color: rgb(156, 146, 146); 
    animation: fall linear var(--duration) infinite; 
}

@keyframes fall {
    0% {
        transform: translateY(-10%);
        opacity: 1; 
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateY(4000%);
        opacity: 0; 
    }
}
